.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: var(--image-border-radius, var(--radius-default));
}

.circle {
  border-radius: var(--radius-circle);
}

.square {
  border-radius: 0;
}
